<!-- <script src="assets/js/main.min.js"></script> -->
<script src="{{ assets_base_url }}/assets/js/main.min.js"></script>

<!-- <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script> -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    'HTML-CSS': {
      showMathMenu: false
    },
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
